In [5]:
import pandas as pd

cars = pd.read_csv('../data/data_car.csv')
cars.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [12]:
#Obteniendo cabeceras
cabeceras = cars.columns
print(cabeceras)
columnas = [
    "indice",
    "Nombre",
    "Ubicación",
    "Año",
    "Kilómetros recorridos",
    "Tipo de combustible",
    "Transmisión",
    "Tipo de propietario",
    "Rendimiento",
    "Motor",
    "Potencia",
    "Asientos",
    "Precio nuevo"
]
cars.columns = columnas
print('*'*10)
print(cars.columns)
cars.head()

Index(['indice', 'Nombre', 'Ubicación', 'Año', 'Kilómetros recorridos',
       'Tipo de combustible', 'Transmisión', 'Tipo de propietario',
       'Rendimiento', 'Motor', 'Potencia', 'Asientos', 'Precio nuevo'],
      dtype='object')
**********
Index(['indice', 'Nombre', 'Ubicación', 'Año', 'Kilómetros recorridos',
       'Tipo de combustible', 'Transmisión', 'Tipo de propietario',
       'Rendimiento', 'Motor', 'Potencia', 'Asientos', 'Precio nuevo'],
      dtype='object')

,indice,Nombre,Ubicación,Año,Kilómetros recorridos,Tipo de combustible,Transmisión,Tipo de propietario,Rendimiento,Motor,Potencia,Asientos,Precio nuevo
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN