In [3]:
import pandas as pd
import numpy as np

In [11]:
dataMusic = pd.read_csv('C:\\Users\\LINKZ\\OneDrive\\Documentos\\Dev\\Python\\Python logic\\spotify_data.csv')

dataMusic

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2500 rows x 3 columns]

### Eliminar duplicados

In [9]:
dataMusic.describe()

            Streams         Daily
count  2.500000e+03  2.498000e+03
mean   9.381437e+08  5.044663e+05
std    4.788772e+08  4.963328e+05
min    5.052491e+08  7.523000e+03
25%    6.099077e+08  2.245135e+05
50%    7.628053e+08  3.763570e+05
75%    1.096878e+09  6.318060e+05
max    4.463659e+09  7.553534e+06

In [10]:
dataMusic = dataMusic.drop_duplicates(['Songs & Artist'])

dataMusic

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2474 rows x 3 columns]

### Separar columnas

In [22]:
dataMusic[['Artist', 'Song']] = dataMusic['Songs & Artist'].str.split(' - ', n=1, expand=True)
dataMusic = dataMusic.drop(columns=['Songs & Artist'])
dataMusic

         Streams      Daily          Artist                    Song
0     4463658617  1619447.0      The Weeknd         Blinding Lights
1     4018102402  1001507.0      Ed Sheeran            Shape of You
2     3588673578  1506961.0   Lewis Capaldi       Someone You Loved
3     3544187311  1611374.0    Harry Styles               As It Was
4     3518744128  1337404.0     Post Malone               Sunflower
...          ...        ...             ...                     ...
2495   505592800  1278450.0     Myke Towers                LA FALDA
2496   505511969   118483.0    Social House   Magic In The Hamptons
2497   505386377   205701.0            KISS  Rock And Roll All Nite
2498   505309100   280336.0            Mora                     512
2499   505249124   288515.0  Meghan Trainor                  Me Too

[2500 rows x 4 columns]

In [32]:
dataMusic[dataMusic['Artist'] != 'Mora']

         Streams      Daily            Artist                    Song
0     4463658617  1619447.0        The Weeknd         Blinding Lights
1     4018102402  1001507.0        Ed Sheeran            Shape of You
2     3588673578  1506961.0     Lewis Capaldi       Someone You Loved
3     3544187311  1611374.0      Harry Styles               As It Was
4     3518744128  1337404.0       Post Malone               Sunflower
...          ...        ...               ...                     ...
2494   505658549    94261.0  Carly Rae Jepsen       I Really Like You
2495   505592800  1278450.0       Myke Towers                LA FALDA
2496   505511969   118483.0      Social House   Magic In The Hamptons
2497   505386377   205701.0              KISS  Rock And Roll All Nite
2499   505249124   288515.0    Meghan Trainor                  Me Too

[2497 rows x 4 columns]