## Funciones `iloc` y `loc` en pandas

En **pandas**, las funciones `iloc` y `loc` son herramientas fundamentales para la **indexación y selección de datos** dentro de **DataFrames** y **Series**. Aunque ambas sirven para acceder a datos específicos, cada una lo hace de forma distinta.

### `loc` -> "location"

- **Descripción:** La función `loc` se utiliza para acceder a un grupo de filas y columnas **etiquetadas** por **nombres** de índices o etiquetas.
- **Sintaxis Básica:**
  ```python
  df.loc[fila, columna]

In [77]:
import pandas as pd

df_chocolate = pd.read_csv("chocolate.csv")
df_chocolate

,ref,company_manufacturer,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,ingredients,most_memorable_characteristics,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72%,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00
...,...,...,...,...,...,...,...,...,...,...
2525,1205,Zotter,Austria,2014,Blend,Raw,80%,"4- B,S*,C,Sa","waxy, cloying, vegetal",2.75
2526,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75%,"3- B,S,C","strong nutty, marshmallow",3.75
2527,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75%,"3- B,S,C","fatty, earthy, cocoa",3.00
2528,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70%,"3- B,S,C","fatty, mild nuts, mild fruit",3.25
2529,2170,Zotter,Austria,2018,Belize,Maya Mtn,72%,"3- B,S,C","muted, roasty, accessible",3.50

In [78]:
df_filtrado_loc = df_chocolate.loc[:,['company_location', 'review_date','rating']] 
df_filtrado_loc

     company_location  review_date  rating
0              U.S.A.         2019    3.25
1              U.S.A.         2019    3.50
2              U.S.A.         2019    3.75
3              U.S.A.         2021    3.00
4              U.S.A.         2021    3.00
...               ...          ...     ...
2525          Austria         2014    2.75
2526          Austria         2017    3.75
2527          Austria         2018    3.00
2528          Austria         2018    3.25
2529          Austria         2018    3.50

[2530 rows x 3 columns]

### `iloc` -> "integer location"

- **Descripción:** La función `iloc` se utiliza para acceder a un grupo de filas y columnas **posicionales** mediante **índices enteros**. A diferencia de `loc`, que se basa en etiquetas, `iloc` permite la selección de datos utilizando posiciones numéricas, lo que es especialmente útil cuando las etiquetas no son únicas o no están definidas.

#### NOTA: Recordemos que los índices comienzan en cero. 

- **Sintaxis Básica:**
  ```python
  df.iloc[fila, columna]

In [79]:
df_filtrado_iloc = df_chocolate.iloc[:,[2,3,9]]
df_filtrado_iloc

     company_location  review_date  rating
0              U.S.A.         2019    3.25
1              U.S.A.         2019    3.50
2              U.S.A.         2019    3.75
3              U.S.A.         2021    3.00
4              U.S.A.         2021    3.00
...               ...          ...     ...
2525          Austria         2014    2.75
2526          Austria         2017    3.75
2527          Austria         2018    3.00
2528          Austria         2018    3.25
2529          Austria         2018    3.50

[2530 rows x 3 columns]

# Estadísticas

## Métodos de Agregación en Python

Los **métodos de agregación** en Python, particularmente en la librería **pandas**, son funciones que permiten resumir y transformar conjuntos de datos. Estos métodos operan sobre estructuras de datos como **Series** y **DataFrames**, facilitando el análisis y la extracción de información relevante de grandes volúmenes de datos.

Las **Series** en **pandas** son estructuras de datos unidimensionales que pueden almacenar datos de diferentes tipos (enteros, cadenas, números de punto flotante, objetos de Python, etc.). Cada elemento en una Serie tiene una **etiqueta de índice** que lo identifica de manera única, lo que facilita el acceso y la manipulación de los datos.

### ¿Qué es la Agregación?

La agregación consiste en aplicar una función sobre un conjunto de datos para obtener un único valor resumen. Este proceso es fundamental en el análisis de datos, ya que permite simplificar y comprender mejor las tendencias y patrones presentes en los datos.

### Funciones Comunes de Agregación en pandas

1. `sum()`: Suma de valores.
2. `mean()`: Media aritmética.
3. `median()`: Mediana.
4. `min()`: Valor mínimo.
5. `max()`: Valor máximo.
6. `count()`: Cantidad de valores no nulos.
7. `std()`: Desviación estándar.
8. `var()`: Varianza.

Recordando el método ``.describe()``:

In [80]:
df_filtrado.describe()

       review_date       rating
count  2530.000000  2530.000000
mean   2014.374308     3.196344
std       3.968267     0.445321
min    2006.000000     1.000000
25%    2012.000000     3.000000
50%    2015.000000     3.250000
75%    2018.000000     3.500000
max    2021.000000     4.000000

Recordando el método ``.describe()``:

In [81]:
df_filtrado_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company_location  2530 non-null   object
 1   review_date       2530 non-null   int64
 2   rating            2530 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 59.4+ KB

# Aplicación de ``sum()``

In [82]:
df_filtrado_loc.sum()

company_location    U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.Fran...
review_date                                                   5096367
rating                                                        8086.75
dtype: object

In [83]:
df_filtrado_loc['review_date'].sum()

5096367

In [84]:
df_filtrado_loc['rating'].sum()

8086.75

# Cuidado, que estos métodos de agregación suman incluso cadenas

In [85]:
df_chocolate['country_of_bean_origin'].sum()

'TanzaniaDominican RepublicMadagascarFijiVenezuelaUgandaIndiaBoliviaPeruPanamaColombiaMadagascarBurmaBrazilPapua New GuineaPeruPeruEcuadorVenezuelaPeruVenezuelaCubaVenezuelaVenezuelaPeruTogoTogoTogoPeruSao TomeVenezuelaPeruMexicoPeruPeruMexicoPeruFijiFijiFijiFijiVanuatuVanuatuVanuatuVanuatuEcuadorEcuadorMexicoMadagascarBrazilIndonesiaVenezuelaPeruTrinidadVietnamMadagascarMexicoEcuadorNicaraguaTanzaniaVietnamVenezuelaDominican RepublicBoliviaBoliviaPeruBoliviaPeruNicaraguaEcuadorPeruDominican RepublicVenezuelaMadagascarVenezuelaIndonesiaVenezuelaVenezuelaDominican RepublicEcuadorPapua New GuineaEcuadorEcuadorGhanaGhanaPeruPeruPeruPeruBelizeMadagascarDominican RepublicPapua New GuineaVenezuelaPeruBlendEcuadorJamaicaGrenadaTrinidadBlendVenezuelaPeruMadagascarVenezuelaVenezuelaBlendBlendBrazilBrazilBrazilBrazilBrazilDominican RepublicBoliviaBelizeGuatemalaMexicoEcuadorMadagascarVenezuelaBrazilGuatemalaBrazilPeruDominican RepublicEcuadorEcuadorBelizeNicaraguaEcuadorEcuadorFijiVietnamTrinidadVietnamGuatemalaHondurasTanzaniaNicaraguaDominican RepublicCosta RicaPeruIndiaMadagascarVietnamPeruBoliviaHaitiTrinidadColombiaIndiaIndiaNicaraguaNicaraguaNicaraguaNicaraguaCongoBrazilVenezuelaIndonesiaMadagascarPeruDominican RepublicVenezuelaCosta RicaVietnamIndonesiaJamaicaPanamaHaitiColombiaTrinidadColombiaIndiaMadagascarTanzaniaMexicoEcuadorPhilippinesTanzaniaHondurasTanzaniaSolomon IslandsPhilippinesPhilippinesPhilippinesPhilippinesColombiaDominican RepublicBrazilBlendMadagascarBlendPapua New GuineaBrazilPeruPeruBelizeUgandaTanzaniaDominican RepublicMexicoMadagascarPeruBrazilCosta RicaTrinidadCosta RicaEcuadorDominican RepublicBrazilPeruMalaysiaMalaysiaBrazilDominican RepublicEcuadorEcuadorCosta RicaPapua New GuineaPeruEcuadorBoliviaTanzaniaDominican RepublicVietnamVietnamBelizeBelizeBelizeVietnamIndiaMalaysiaMadagascarIndonesiaCubaVenezuelaVenezuelaEcuadorBlendVenezuelaVenezuelaIndonesiaVenezuelaMadagascarVenezuelaVenezuelaEcuadorNicaraguaCosta RicaCosta RicaBelizeVenezuelaVenezuelaVenezuelaMadagascarGhanaPanamaDominican RepublicDominican RepublicMadagascarDominican RepublicMadagascarIndonesiaMadagascarVenezuelaIndonesiaBlendGhanaHaitiGuatemalaDominican RepublicBelizeDominican RepublicVenezuelaNicaraguaDominican RepublicJamaicaColombiaBelizeBlendCongoGuatemalaMadagascarGuatemalaDominican RepublicMadagascarTanzaniaBelizeMalaysiaMalaysiaMalaysiaBlendSri LankaBlendVenezuelaMadagascarVenezuelaVenezuelaEcuadorVenezuelaPeruIvory CoastMexicoMexicoJamaicaCubaPeruPeruBrazilBrazilHaitiMadagascarGabonBrazilDominican RepublicBlendBrazilMexicoPeruBlendNicaraguaEcuadorEcuadorBelizeDominican RepublicEcuadorPeruBoliviaTanzaniaDominican RepublicEcuadorGhanaVenezuelaBelizeVenezuelaDominican RepublicVenezuelaNicaraguaDominican RepublicEcuadorMadagascarDominican RepublicDominican RepublicBelizeMadagascarGuatemalaJamaicaTrinidadMadagascarDominican RepublicEcuadorEcuadorDominican RepublicBoliviaGuatemalaEcuadorTrinidadBelizeBlendEcuadorEcuadorTaiwanPhilippinesGuatemalaGuatemalaBoliviaPuerto RicoVenezuelaDominican RepublicDominican RepublicPeruVenezuelaMexicoTanzaniaDominican RepublicHaitiColombiaColombiaColombiaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaColombiaColombiaColombiaColombiaColombiaColombiaColombiaHondurasDominican RepublicDominican RepublicDominican RepublicDominican RepublicMexicoMexicoGrenadaMadagascarVenezuelaVenezuelaEcuadorPapua New GuineaCongoDominican RepublicPeruEcuadorMadagascarPeruVietnamGhanaDominican RepublicEcuadorPeruPeruPeruPeruEcuadorEcuadorEcuadorEcuadorEcuadorGrenadaSao TomeTrinidadVenezuelaEcuadorCubaDominican RepublicBlendVenezuelaTanzaniaVenezuelaBoliviaBrazilColombiaColombiaColombiaColombiaEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorPapua New GuineaPapua New GuineaNicaraguaTanzaniaPeruMexicoCosta RicaCosta RicaCosta RicaGuatemalaCosta RicaColombiaColombiaColombiaColombiaColombiaBlendBrazilBrazilPeruPeruBoliviaVenezuelaVenezuelaNicaraguaDominican RepublicDominican RepublicColombiaColombiaHondurasVenezuelaDominican RepublicBelizeVenezuelaPuerto RicoMexicoPeruVenezuelaEcuadorPeruVenezuelaBoliviaEcuadorUgandaMadagascarBelizePeruBoliviaVenezuelaBelizeEcuadorEcuadorCosta RicaPeruEcuadorColombiaDominican RepublicBlendEcuadorBelizeBelizeVietnamMalaysiaNicaraguaDominican RepublicPeruDominican RepublicPeruMadagascarMadagascarVenezuelaPeruBlendBoliviaUgandaNicaraguaDominican RepublicDominican RepublicVenezuelaEcuadorPeruDominican RepublicCongoPeruEcuadorPeruMadagascarPeruPeruVenezuelaVenezuelaDominican RepublicIndiaMexicoIndiaGuatemalaPeruVenezuelaMexicoMexicoGuatemalaDominican RepublicBelizeEcuadorGrenadaBlendVenezuelaBlendBlendMexicoMadagascarMexicoMexicoVenezuelaMexicoBrazilBrazilVenezuelaGuatemalaVenezuelaBelizeMadagascarTanzaniaBoliviaMartiniquePeruPeruVietnamCosta RicaEcuadorTanzaniaDominican RepublicBrazilPeruVenezuelaVenezuelaBlendBlendBlendBlendDominican RepublicHaitiEcuadorPeruSt. LuciaPeruMadagascarColombiaVenezuelaEcuadorBoliviaVenezuelaVenezuelaEcuadorVietnamPhilippinesIvory CoastPeruTanzaniaMadagascarMexicoVenezuelaPeruPeruVenezuelaVenezuelaEcuadorVenezuelaTrinidadGrenadaJamaicaVenezuelaEcuadorGhanaMadagascarBlendEcuadorGhanaBlendTanzaniaBrazilFijiVanuatuPapua New GuineaPapua New GuineaVanuatuEcuadorEcuadorDominican RepublicColombiaEcuadorHondurasIndiaGuatemalaHaitiBelizeMexicoMexicoAustraliaAustraliaDominican RepublicGrenadaNicaraguaTrinidadEcuadorBlendPuerto RicoIndiaPeruCosta RicaColombiaDominican RepublicVenezuelaVenezuelaVenezuelaPapua New GuineaLiberiaBelizeEcuadorDominican RepublicBelizeDominican RepublicCosta RicaSierra LeoneHondurasIndiaVietnamGuatemalaIndiaPeruIndiaTanzaniaDominican RepublicBrazilDominican RepublicMadagascarTanzaniaDominican RepublicGuatemalaGuatemalaGuatemalaVenezuelaGuatemalaGuatemalaMadagascarGuatemalaGuatemalaVenezuelaVietnamBlendPeruVietnamMadagascarTanzaniaVenezuelaEcuadorBoliviaBlendGhanaDominican RepublicVenezuelaBrazilBrazilUgandaMadagascarMadagascarCosta RicaEcuadorGhanaPapua New GuineaPeruVenezuelaPapua New GuineaDominican RepublicDominican RepublicDominican RepublicTanzaniaGuatemalaCosta RicaDominican RepublicBoliviaMadagascarVenezuelaDominican RepublicEcuadorBoliviaEcuadorEcuadorDominican RepublicBoliviaVietnamGuatemalaBrazilSolomon IslandsFijiMadagascarBelizeBlendJamaicaMexicoSao TomeSao TomeSao TomeSao TomePanamaVenezuelaNicaraguaVenezuelaU.S.A.BlendBlendVenezuelaPeruVenezuelaVenezuelaVenezuelaMadagascarMadagascarIndonesiaVenezuelaEcuadorVenezuelaVenezuelaColombiaBlendBlendVenezuelaVenezuelaTanzaniaVenezuelaVenezuelaEcuadorVenezuelaTanzaniaVenezuelaColombiaMadagascarGrenadaPhilippinesGuatemalaPeruBelizeDominican RepublicTanzaniaDominican RepublicEcuadorPanamaEcuadorPeruPanamaNicaraguaDominican RepublicVenezuelaHondurasVenezuelaNicaraguaNicaraguaGuatemalaNigeriaGuatemalaPhilippinesNicaraguaDominican RepublicMadagascarDominican RepublicVenezuelaPeruVenezuelaEcuadorPeruPeruMadagascarDominican RepublicColombiaColombiaPeruPeruVenezuelaMadagascarColombiaBoliviaBoliviaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaGuatemalaSt. LuciaSt. LuciaVenezuelaPeruDominican RepublicHaitiGuatemalaMadagascarHondurasVietnamSierra LeoneTanzaniaTrinidadBlendVietnamVietnamVietnamVenezuelaCosta RicaBlendVenezuelaVenezuelaBlendColombiaBlendTrinidadVenezuelaBlendBlendBelizeEcuadorDominican RepublicGuatemalaUgandaPeruBrazilVenezuelaBelizeJamaicaBlendMadagascarVenezuelaDominican RepublicEcuadorBoliviaGrenadaPuerto RicoDominican RepublicDominican RepublicDominican RepublicHondurasColombiaMexicoBlendPhilippinesPapua New GuineaSolomon IslandsVanuatuBelizeGuatemalaColombiaDominican RepublicMadagascarIndiaTanzaniaPeruDominican RepublicDominican RepublicMadagascarEcuadorTanzaniaDominican RepublicBoliviaIndonesiaPhilippinesHaitiMexicoMadagascarIndonesiaMalaysiaPapua New GuineaBoliviaVanuatuColombiaTanzaniaEcuadorPeruVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaGhanaMadagascarVietnamCosta RicaPeruPeruDominican RepublicPeruPeruPeruPeruCosta RicaNicaraguaGuatemalaPeruIndiaJamaicaJamaicaJamaicaVenezuelaGhanaMadagascarMadagascarJamaicaDominican RepublicVenezuelaDominican RepublicJamaicaVenezuelaPapua New GuineaPapua New GuineaPapua New GuineaMadagascarPapua New GuineaDominican RepublicDominican RepublicPeruPeruPeruPeruPeruPeruGuatemalaGuatemalaGuatemalaVenezuelaVenezuelaPeruGhanaPeruGhanaNicaraguaMadagascarNicaraguaVenezuelaBrazilTanzaniaBelizeMadagascarPeruNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaGuatemalaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaHondurasNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaCosta RicaCosta RicaPeruEcuadorDominican RepublicPeruTrinidadBoliviaCosta RicaColombiaMadagascarDominican RepublicDominican RepublicPeruTaiwanMadagascarTanzaniaVenezuelaU.S.A.MadagascarDominican RepublicDominican RepublicMadagascarGhanaSt. LuciaVenezuelaGuatemalaVenezuelaBrazilBelizeMexicoGuatemalaNicaraguaPeruColombiaCosta RicaEcuadorBelizeIndiaBoliviaDominican RepublicVietnamMadagascarTanzaniaDominican RepublicVietnamBlendMadagascarPeruIndiaGrenadaGrenadaGrenadaEcuadorGhanaBlendVenezuelaBlendMadagascarVenezuelaColombiaBlendMadagascarEcuadorBlendBlendPeruBlendVenezuelaU.S.A.BlendBlendTrinidadBlendBlendBlendHaitiNicaraguaJamaicaEcuadorBlendBlendPapua New GuineaBlendBlendBlendBlendDominican RepublicU.S.A.BlendEcuadorEcuadorEcuadorBlendBrazilBrazilBrazilBrazilBrazilIndiaVietnamPeruTanzaniaDominican RepublicMexicoPeruIndonesiaBlendVenezuelaBelizeCosta RicaBoliviaBoliviaEcuadorU.S.A.U.S.A.EcuadorEcuadorBoliviaBoliviaUgandaVenezuelaEcuadorNicaraguaTanzaniaMadagascarVenezuelaEcuadorPeruPeruEcuadorMadagascarTanzaniaDominican RepublicMadagascarVenezuelaDominican RepublicPeruVenezuelaEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorIvory CoastDominican RepublicPeruDominican RepublicEcuadorMadagascarTrinidadVenezuelaPeruEcuadorSt. LuciaSt. LuciaSt. LuciaColombiaHondurasTanzaniaUgandaTanzaniaSt. LuciaSao TomeEcuadorVenezuelaDominican RepublicEcuadorSt. LuciaSt. LuciaMadagascarEcuadorPeruDominican RepublicTrinidadEcuadorMadagascarVietnamEcuadorVenezuelaVenezuelaBoliviaBoliviaNicaraguaDominican RepublicDominican RepublicVietnamVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaIndiaHondurasVietnamPeruPeruPeruBelizeDominican RepublicMadagascarSt.Vincent-GrenadinesDominican RepublicBelizeGhanaVenezuelaJamaicaPeruVenezuelaVietnamEcuadorMadagascarEcuadorIndiaColombiaTrinidadMadagascarVenezuelaThailandThailandThailandThailandDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicDominican RepublicNicaraguaPeruTanzaniaVanuatuPeruEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorBlendEcuadorPhilippinesPapua New GuineaDominican RepublicMexicoColombiaDominican RepublicBelizeVietnamMexicoMadagascarPhilippinesMexicoColombiaPapua New GuineaPeruVenezuelaBelizeMadagascarBelizeDominican RepublicDominican RepublicPeruHaitiBrazilEcuadorUgandaEcuadorDominican RepublicMadagascarBoliviaMadagascarVenezuelaGrenadaDominican RepublicEcuadorPeruVenezuelaBrazilFijiPeruPeruBelizePeruDominican RepublicPeruBelizeGuatemalaBelizeGuatemalaPeruBlendBlendGhanaVenezuelaBlendGrenadaDominican RepublicBlendTobagoEcuadorPeruEcuadorMexicoMexicoMexicoCubaBlendMadagascarVietnamCubaIvory CoastPeruBrazilSao TomeVietnamBrazilTanzaniaVenezuelaVenezuelaBlendNicaraguaNicaraguaHondurasNicaraguaBoliviaColombiaCosta RicaPeruPeruCosta RicaBoliviaDominican RepublicTrinidadTanzaniaLiberiaBelizeHondurasPeruGhanaJamaicaBoliviaSao Tome & PrincipeU.S.A.MadagascarMadagascarBlendDominican RepublicPeruBoliviaBoliviaPeruBlendSierra LeoneIndiaVietnamPuerto RicoU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.BoliviaBelizeNicaraguaNicaraguaSumatraNicaraguaNicaraguaBrazilBrazilBrazilPapua New GuineaBlendBlendBlendColombiaIndiaMadagascarTanzaniaUgandaIvory CoastPeruPeruUgandaGhanaMadagascarMadagascarMadagascarMadagascarColombiaMexicoDominican RepublicCosta RicaU.S.A.U.S.A.U.S.A.Puerto RicoU.S.A.MexicoBrazilSolomon IslandsTanzaniaEcuadorCubaDominican RepublicEcuadorMadagascarMadagascarPhilippinesThailandU.S.A.U.S.A.VenezuelaDominican RepublicPeruVenezuelaEcuadorColombiaU.S.A.PeruLiberiaU.S.A.U.S.A.Papua New GuineaCosta RicaPeruU.S.A.Dominican RepublicEcuadorGhanaColombiaVenezuelaPeruNicaraguaTrinidadColombiaTanzaniaDominican RepublicPeruEcuadorNicaraguaPeruHondurasVietnamVietnamBlendMexicoDominican RepublicPeruPeruPeruMexicoBoliviaBrazilBlendHaitiVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamCosta RicaIvory CoastNigeriaGhanaDominican RepublicDominican RepublicBoliviaHaitiColombiaVenezuelaVenezuelaDominican RepublicVenezuelaPapua New GuineaVenezuelaVenezuelaPeruDominican RepublicBlendBelizeDominican RepublicBlendVenezuelaBlendBlendGuatemalaTanzaniaVanuatuBlendMadagascarPapua New GuineaU.S.A.BelizeDominican RepublicPeruPeruU.S.A.VietnamMadagascarDominican RepublicGuatemalaBelizeBoliviaVenezuelaBelizeNicaraguaDominican RepublicEcuadorDominican RepublicPhilippinesTanzaniaMadagascarMadagascarHondurasNicaraguaHondurasNicaraguaEl SalvadorEl SalvadorBrazilBrazilMadagascarSolomon IslandsSolomon IslandsBlendPeruBlendBlendBlendSao TomeDominican RepublicMadagascarPapua New GuineaVenezuelaSao TomeMexicoColombiaBrazilGuatemalaBlendBoliviaIndonesiaDominican RepublicBelizeTanzaniaBelizeTrinidadNicaraguaDominican RepublicVenezuelaDominican RepublicIndiaPeruBelizeEcuadorEcuadorEcuadorIndiaBrazilPanamaIndiaTanzaniaBrazilVietnamMadagascarPeruEcuadorEcuadorHaitiPapua New GuineaMadagascarIndiaVietnamTanzaniaVietnamBrazilBrazilPuerto RicoColombiaBelizeBelizeBelizeBrazilCameroonSierra LeoneDominican RepublicTanzaniaMadagascarDominican RepublicIndonesiaDominican RepublicPeruNicaraguaNicaraguaNicaraguaDominican RepublicPhilippinesPapua New GuineaMexicoPeruEcuadorEcuadorEcuadorEcuadorMexicoNicaraguaNicaraguaVenezuelaDominican RepublicTanzaniaMadagascarVietnamCosta RicaCosta RicaGrenadaBlendPeruVenezuelaVenezuelaNicaraguaNicaraguaEl SalvadorU.S.A.PeruDominican RepublicMadagascarGhanaDominican RepublicBlendSao TomeVenezuelaBlendTrinidadPapua New GuineaVenezuelaDominican RepublicMadagascarPeruBrazilPeruEcuadorEcuadorPeruVietnamTanzaniaDominican RepublicFijiColombiaGhanaBelizePeruVenezuelaEcuadorNicaraguaNicaraguaEcuadorEcuadorVenezuelaMadagascarGhanaDominican RepublicNigeriaVietnamBrazilJamaicaPeruPeruCongoPeruPapua New GuineaPapua New GuineaPapua New GuineaPapua New GuineaSamoaSamoaGuatemalaTanzaniaUgandaIndiaColombiaBoliviaVietnamBlendVenezuelaU.S.A.PeruVenezuelaHaitiTrinidadTanzaniaBoliviaBrazilBlendBlendDominican RepublicGhanaBlendBlendBlendBlendGhanaPapua New GuineaMadagascarTanzaniaNicaraguaMadagascarVietnamTanzaniaColombiaPeruPeruMadagascarBelizeDominican RepublicNicaraguaDominican RepublicEcuadorPanamaCongoPeruBoliviaBoliviaPapua New GuineaBlendU.S.A.U.S.A.PeruPeruEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorPeruEcuadorEcuadorEcuadorEcuadorColombiaVietnamHaitiCubaBoliviaEcuadorBlendMadagascarTrinidadBoliviaTrinidadTanzaniaVietnamGuatemalaBelizePeruDominican RepublicHaitiPeruFijiBoliviaPhilippinesBelizeMadagascarDominican RepublicPeruBlendBoliviaDominican RepublicGuatemalaTanzaniaGuatemalaDominican RepublicColombiaPeruPeruMadagascarMadagascarVenezuelaMadagascarBlendPeruMadagascarMadagascarDominican RepublicFijiPeruIndonesiaVenezuelaMexicoBlendEcuadorBlendMadagascarBrazilMexicoVenezuelaPeruTrinidadCubaCameroonMadagascarCameroonChinaVietnamTanzaniaIndiaHondurasFijiMadagascarEcuadorEcuadorNicaraguaNicaraguaNicaraguaNicaraguaNicaraguaBoliviaDominican RepublicTanzaniaDominican RepublicPeruHaitiGuatemalaGhanaCosta RicaPeruCosta RicaCosta RicaBrazilVenezuelaDominican RepublicColombiaUgandaPeruVanuatuCubaBlendBrazilBlendJamaicaEcuadorSao TomeDominican RepublicMadagascarBrazilVenezuelaVenezuelaVenezuelaPeruPapua New GuineaIndonesiaVenezuelaMadagascarColombiaTrinidadGhanaSao Tome & PrincipeTanzaniaEcuadorTanzaniaPeruVietnamVenezuelaEcuadorEcuadorMadagascarHondurasGrenadaMadagascarEcuadorJamaicaSolomon IslandsVenezuelaEcuadorPapua New GuineaVietnamPhilippinesDominican RepublicBrazilBrazilBrazilBrazilBrazilBrazilPeruPeruPeruPeruPeruMexicoMexicoDominican RepublicMadagascarCongoPeruHaitiHaitiGuatemalaEcuadorPeruPeruPeruMexicoPeruEcuadorTanzaniaPeruDominican RepublicNicaraguaGhanaPeruEcuadorEcuadorEcuadorEcuadorEcuadorCosta RicaEcuadorTrinidadMadagascarPeruBelizeEcuadorBlendEcuadorMexicoNicaraguaTrinidadMadagascarTanzaniaFijiPeruCosta RicaCosta RicaCosta RicaMadagascarMadagascarGrenadaDominican RepublicJamaicaMadagascarTrinidadVenezuelaPeruBoliviaEcuadorMadagascarDominican RepublicJamaicaBoliviaVenezuelaBoliviaVenezuelaHondurasVenezuelaPrincipeVenezuelaVenezuelaVenezuelaVenezuelaMadagascarVenezuelaPeruHondurasHaitiNicaraguaIndonesiaTanzaniaBlendDominican RepublicMadagascarBlendBlendBlendBlendBrazilEcuadorVenezuelaEcuadorEcuadorColombiaColombiaColombiaColombiaColombiaSao TomeBlendBlendJamaicaBlendBlendBlendBlendBlendVenezuelaBlendBrazilVietnamGhanaGrenadaMadagascarPapua New GuineaPeruDominican RepublicGrenadaHondurasDominican RepublicTanzaniaFijiUgandaTrinidadPeruVietnamIndiaGuatemalaColombiaBelizeEcuadorBelizeVenezuelaJamaicaPapua New GuineaDominican RepublicU.S.A.U.S.A.PeruPeruCosta RicaCosta RicaPeruBelizeColombiaSao TomeBrazilMadagascarMadagascarEcuadorMadagascarEcuadorGuatemalaGuatemalaHaitiBoliviaTanzaniaEcuadorPeruMexicoIndiaGhanaNicaraguaBoliviaPeruMadagascarMadagascarPapua New GuineaTanzaniaTrinidadVenezuelaEcuadorVietnamGuatemalaVenezuelaBelizeAustraliaEcuadorDominican RepublicHaitiMadagascarEcuadorGhanaSulawesiIndiaMadagascarEcuadorDominican RepublicPeruPhilippinesSolomon IslandsSolomon IslandsMadagascarVenezuelaBoliviaPeruBlendUgandaTanzaniaIndiaVietnamDominican RepublicDominican RepublicGhanaPapua New GuineaMadagascarVenezuelaBlendGrenadaBoliviaVenezuelaDominican RepublicBlendPeruHaitiGuatemalaBlendPapua New GuineaU.S.A.VenezuelaBlendBlendPeruIndonesiaBlendVenezuelaDominican RepublicTrinidadVenezuelaBlendVenezuelaBlendJamaicaNicaraguaBlendNicaraguaEcuadorPeruVanuatuVenezuelaVenezuelaEcuadorDominican RepublicMadagascarBrazilNicaraguaBlendVietnamFijiColombiaHaitiMadagascarVenezuelaBlendMadagascarVenezuelaVietnamNicaraguaU.S.A.Dominican RepublicEcuadorPapua New GuineaMadagascarVenezuelaTanzaniaDominican RepublicDominican RepublicDominican RepublicVanuatuDominican RepublicEcuadorMadagascarPeruEcuadorDominican RepublicBelizeMadagascarUgandaBoliviaDominican RepublicDominican RepublicEcuadorDominican RepublicGuatemalaNicaraguaMadagascarIndiaBrazilEcuadorEcuadorBoliviaPhilippinesPhilippinesPhilippinesMadagascarBelizePeruPeruVenezuelaVenezuelaSri LankaTanzaniaHondurasPeruUgandaTrinidadPeruTanzaniaBelizeBrazilVenezuelaMexicoPeruPapua New GuineaVenezuelaDominican RepublicMadagascarPeruNicaraguaMadagascarMadagascarVenezuelaCubaEcuadorCubaMadagascarVietnamBrazilEcuadorMexicoCosta RicaDominican RepublicPeruTrinidadColombiaPapua New GuineaVietnamVietnamVietnamSurinameVenezuelaPeruPeruMadagascarNicaraguaMexicoHaitiDominican RepublicMexicoBoliviaBelizeGhanaPeruPeruMadagascarBlendBlendBlendBlendPeruMadagascarBoliviaBrazilBlendPapua New GuineaMadagascarVenezuelaEcuadorEcuadorMexicoBoliviaDominican RepublicBrazilEcuadorMadagascarUgandaPeruEcuadorDominican RepublicBelizeMadagascarGuatemalaHaitiBelizeBoliviaPeruVenezuelaIvory CoastGhanaBlendMadagascarCongoPeruEcuadorColombiaColombiaBelizeTanzaniaEcuadorEcuadorTobagoVenezuelaDominican RepublicBoliviaHaitiBoliviaBelizeColombiaEcuadorDominican RepublicDominican RepublicDominican RepublicNicaraguaHaitiGuatemalaPhilippinesPeruPeruVietnamHondurasPeruMadagascarDominican RepublicBoliviaDominican RepublicMadagascarDominican RepublicEcuadorTanzaniaPeruDominican RepublicDominican RepublicTanzaniaGuatemalaNicaraguaDominican RepublicMadagascarTanzaniaVenezuelaColombiaNicaraguaBelizeTrinidadBlendVenezuelaMadagascarBlendBlendBlendBlendBlendVenezuelaVenezuelaMadagascarGhanaDominican RepublicEcuadorBlendVenezuelaVenezuelaBlend

# Aplicación de ``mean()``

In [86]:
df_filtrado_loc['rating'].mean()

3.1963438735177867

### No con todos los tipos de datos se puede aplicar los métodos de agregación

In [88]:
df_filtrado_loc.mean()

TypeError: Could not convert ['U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceU.S.A.U.S.A.U.S.A.U.S.A.FijiFijiFijiFijiVanuatuVanuatuVanuatuVanuatuEcuadorEcuadorMexicoU.K.U.K.U.K.FranceFranceFranceFranceFranceFranceNetherlandsNetherlandsNetherlandsNetherlandsU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SpainSpainSpainSpainRussiaRussiaPeruPeruCanadaCanadaCanadaCanadaCanadaCanadaItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyBrazilBrazilBrazilBrazilBrazilU.S.A.U.S.A.U.S.A.U.S.A.FranceFranceFranceFranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.NicaraguaNicaraguaNicaraguaNicaraguaU.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.ItalyItalyItalyU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AustraliaPhilippinesPhilippinesPhilippinesPhilippinesCanadaCanadaAustraliaAustraliaAustraliaAustraliaAustraliaBrazilPeruPeruU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.WalesU.S.A.U.S.A.U.S.A.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.BelgiumBelgiumBelgiumBelgiumU.S.A.U.S.A.U.S.A.VietnamVietnamGermanyGermanyGermanySingaporeSingaporeSingaporeBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumFranceSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandU.S.A.U.S.A.U.S.A.U.S.A.VenezuelaVenezuelaVenezuelaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.K.U.S.A.U.S.A.SpainSpainU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.MalaysiaMalaysiaMalaysiaFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceEcuadorEcuadorU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AustraliaAustraliaAustraliaAustraliaRussiaU.S.A.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.South KoreaTaiwanTaiwanCanadaCanadaCanadaPuerto RicoU.S.A.U.S.A.U.S.A.U.S.A.FranceFranceFranceFranceFranceSwitzerlandSwitzerlandSwitzerlandVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaU.S.A.ColombiaColombiaColombiaColombiaColombiaColombiaColombiaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SpainSpainSpainSpainSpainSpainSpainSpainSpainU.S.A.U.S.A.U.S.A.JapanJapanJapanSouth KoreaSouth KoreaSouth KoreaPeruPeruPeruPeruEcuadorEcuadorEcuadorEcuadorBelgiumBelgiumItalyItalyItalyItalyItalyItalyItalyU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.ColombiaColombiaColombiaColombiaEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorNew ZealandNew ZealandU.S.A.U.S.A.U.S.A.U.S.A.Costa RicaCosta RicaCosta RicaCosta RicaCosta RicaColombiaColombiaColombiaColombiaColombiaU.S.A.BrazilBrazilU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceCanadaCanadaCanadaCanadaFranceFranceU.S.A.EcuadorEcuadorU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceU.K.GermanyGermanySouth KoreaSouth KoreaHungaryHungaryU.K.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AmsterdamAmsterdamAmsterdamScotlandScotlandScotlandScotlandScotlandScotlandScotlandU.S.A.BelgiumCanadaU.S.A.U.S.A.U.S.A.JapanCanadaCanadaU.S.A.U.S.A.U.S.A.SpainSpainSpainSpainSpainSpainSpainSpainU.S.A.U.S.A.CanadaCanadaCanadaCanadaCanadaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.MartiniqueU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.CanadaU.S.A.U.S.A.Sao TomeSao TomeSao TomeSao TomeU.S.A.U.S.A.U.S.A.CanadaSt. LuciaU.S.A.U.S.A.U.S.A.ArgentinaArgentinaArgentinaArgentinaArgentinaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.GermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyBelgiumAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.MexicoAustraliaAustraliaU.S.A.U.K.U.K.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.GuatemalaGuatemalaGuatemalaGuatemalaGuatemalaGuatemalaGuatemalaGuatemalaGuatemalaU.S.A.U.S.A.U.S.A.BelgiumBelgiumU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.BrazilBrazilSouth AfricaSouth AfricaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceFranceDominican RepublicDominican RepublicDominican RepublicCanadaCanadaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.Sao Tome & PrincipeSao Tome & PrincipeSao Tome & PrincipeSao Tome & PrincipeU.K.U.K.U.K.U.K.U.S.A.BelgiumBelgiumItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyU.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.S.A.FranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaCanadaCanadaCanadaU.S.A.U.S.A.GermanyU.S.A.U.S.A.BoliviaBoliviaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaU.S.A.St. LuciaSt. LuciaJapanJapanFranceFranceFranceFranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SpainFranceFranceFranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PortugalPortugalPortugalSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandU.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaCanadaCanadaU.K.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.NorwayNorwayNorwayU.K.Puerto RicoPuerto RicoSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeSingaporeNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaVenezuelaBelgiumBelgiumBelgiumBelgiumBelgiumU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.DenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkDenmarkU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.TaiwanTaiwanTaiwanTaiwanU.S.A.GermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyGermanyU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.VietnamU.S.A.U.S.A.U.S.A.U.S.A.U.K.JapanJapanU.K.GrenadaGrenadaGrenadaItalyItalyItalyItalyItalyItalyU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaGermanyEcuadorEcuadorAustraliaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.K.U.K.U.S.A.U.S.A.U.S.A.MexicoGermanyNetherlandsNetherlandsNetherlandsU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.New ZealandNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandEcuadorEcuadorEcuadorEcuadorEcuadorIsraelIsraelIsraelIsraelIsraelIsraelIsraelIsraelIsraelSouth AfricaU.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.CanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandIndiaU.S.A.U.S.A.ScotlandScotlandU.S.A.U.S.A.U.S.A.U.S.A.St.Vincent-GrenadinesU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.Czech RepublicCzech RepublicThailandThailandThailandThailandDominican RepublicDominican RepublicDominican RepublicDominican RepublicU.S.A.U.S.A.U.S.A.Dominican RepublicU.S.A.Dominican RepublicDominican RepublicU.S.A.SpainSpainSpainGermanyGermanyEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorFranceFranceCanadaCanadaU.S.A.MexicoCanadaU.S.A.AmsterdamAmsterdamAmsterdamAmsterdamAmsterdamAmsterdamNetherlandsAmsterdamU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.JapanJapanJapanJapanU.S.A.U.S.A.U.S.A.U.S.A.FranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFrancePeruEcuadorMexicoMexicoMexicoFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceBrazilU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.K.U.K.U.K.U.S.A.BelgiumBelgiumBelgiumU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FinlandFinlandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SwitzerlandU.S.A.U.S.A.U.S.A.Puerto RicoU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.TaiwanTaiwanTaiwanTaiwanBrazilBrazilBrazilU.K.ColombiaColombiaColombiaColombiaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PeruPeruU.S.A.U.S.A.MadagascarMadagascarMadagascarMadagascarU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.ItalyItalyItalyItalyItalyMadagascarMadagascarPhilippinesThailandU.S.A.U.S.A.SwedenU.S.A.U.S.A.U.S.A.U.S.A.ColombiaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PolandPolandPolandPolandPolandPolandPolandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PeruPeruPeruU.S.A.U.S.A.U.S.A.CanadaU.S.A.VietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamVietnamU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AustriaAustriaAustriaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AustraliaAustraliaAustraliaAustraliaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.DenmarkDenmarkDenmarkDenmarkMadagascarMadagascarHondurasHondurasHondurasHondurasHondurasHondurasBrazilSwedenSwedenAustraliaAustraliaAmsterdamGermanyFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.BelgiumBelgiumBelgiumBelgiumU.S.A.U.S.A.BelgiumBelgiumBelgiumBelgiumBelgiumBelgiumJapanJapanJapanJapanU.S.A.U.S.A.JapanU.A.E.U.A.E.U.A.E.U.A.E.U.A.E.Czech RepublicBrazilBrazilBrazilColombiaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.NicaraguaNicaraguaNicaraguaCanadaCanadaAustraliaU.S.A.U.S.A.U.S.A.EcuadorEcuadorEcuadorMexicoU.S.A.U.S.A.JapanU.S.A.U.S.A.U.S.A.U.S.A.Costa RicaCosta RicaLithuaniaLithuaniaLithuaniaLithuaniaLithuaniaLithuaniaLithuaniaLithuaniaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.IrelandBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.EcuadorPeruU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.NicaraguaNicaraguaNicaraguaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.BrazilU.S.A.ChileChileScotlandScotlandNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandNew ZealandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.GermanyGermanyU.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaCanadaCanadaGhanaIcelandIcelandIcelandIcelandU.S.A.U.S.A.U.S.A.SwitzerlandSwitzerlandSwitzerlandSwitzerlandCanadaCanadaCanadaCanadaCanadaSouth AfricaSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandSwitzerlandU.S.A.U.S.A.PeruPeruEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorEcuadorJapanJapanJapanCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaSpainSpainSpainSpainSpainSpainSpainU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PeruPeruU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.K.U.K.U.S.A.U.S.A.CanadaBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumBelgiumU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceU.S.A.U.S.A.South KoreaU.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.ItalyItalyItalyItalyItalyItalyBrazilBrazilBrazilBrazilBrazilBrazilCanadaCanadaCanadaCanadaCanadaMexicoMexicoU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.GuatemalaEcuadorU.S.A.U.S.A.U.S.A.U.S.A.FranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PolandEcuadorEcuadorEcuadorEcuadorEcuadorU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.South KoreaSouth KoreaSouth KoreaMadagascarMadagascarU.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.HungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryItalyItalyItalyItalyItalyItalyItalyItalyItalyItalyU.S.A.U.S.A.ArgentinaArgentinaArgentinaArgentinaEcuadorColombiaColombiaColombiaColombiaColombiaFranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PeruPeruCosta RicaCosta RicaU.S.A.ItalyItalyItalyItalyCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaU.S.A.U.S.A.AustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaAustraliaU.S.A.U.S.A.U.S.A.AmsterdamIndiaU.S.A.U.S.A.U.K.U.K.U.K.New ZealandNew ZealandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.CanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaCanadaU.S.A.U.S.A.CanadaCanadaCanadaCanadaCanadaCanadaU.S.A.U.S.A.U.S.A.AustraliaAustraliaAustraliaAustraliaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SwitzerlandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SwitzerlandSwitzerlandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.DenmarkDenmarkVenezuelaVenezuelaSwedenSwedenU.S.A.U.S.A.U.S.A.U.S.A.JapanJapanJapanJapanJapanCanadaCanadaCanadaHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryHungaryU.S.A.U.S.A.U.S.A.U.S.A.JapanJapanJapanJapanVietnamVietnamSurinameU.S.A.U.S.A.U.S.A.U.S.A.SwitzerlandSwitzerlandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.SwedenU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.JapanU.S.A.ColombiaColombiaGermanyU.S.A.EcuadorEcuadorFranceU.S.A.U.S.A.U.S.A.U.K.U.K.U.K.U.K.South KoreaU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.PeruPeruCanadaCanadaCanadaMadagascarU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceCanadaCanadaCanadaU.S.A.U.S.A.U.S.A.U.S.A.ItalySpainSpainCanadaFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceFranceU.S.A.U.S.A.MadagascarMadagascarMadagascarMadagascarMadagascarMadagascarU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.FranceU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.New ZealandNew ZealandNew ZealandU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.New ZealandIrelandIrelandIrelandIrelandU.K.U.K.U.K.U.K.U.K.U.K.U.K.U.K.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.Dominican RepublicEl SalvadorEl SalvadorEl SalvadorU.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.U.S.A.AustriaAustriaAustriaAustriaAustriaAustriaAustraliaAustraliaAustraliaAustraliaAustraliaBelgiumBelgiumBelgiumBelgiumAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustriaAustria'] to numeric

# Aplicación de ``mean()``

In [89]:
df_filtrado_loc['rating'].mean()

3.1963438735177867

## `groupby()`

La función **`groupby()`** sirve para **agrupar** datos basándose en uno o más criterios y aplicar **funciones de agregación**, **transformación** o **filtrado** a estos grupos.

### **Sintaxis Básica**

```python
DataFrame.groupby(
    by=None, 
    axis=0, 
    level=None, 
    as_index=True, 
    sort=True, 
    group_keys=True, 
    squeeze=False, 
    observed=False, 
    dropna=True
)


axis: Especifica el eje a lo largo del cual se realizará la operación.

axis=0 o axis='index': Eje de las filas (vertical). Las operaciones se aplican a lo largo de las filas, es decir, de arriba hacia abajo.
axis=1 o axis='columns': Eje de las columnas (horizontal). Las operaciones se aplican a lo largo de las columnas, es decir, de izquierda a derecha.

En este ejemplo agrupamos el dataset por país de localización de las compañias de chocolate y le aplicamos un método de agregación, en este caso ``size()`` para obtener el número de instancias por cada grupo formado.

In [35]:
df_chocolate.groupby('company_location').size()

company_location
Amsterdam      12
Argentina       9
Australia      53
Austria        30
Belgium        63
             ...
U.S.A.       1136
Vanuatu         4
Venezuela      31
Vietnam        16
Wales           1
Length: 67, dtype: int64

## Método `agg()` en pandas

El método **`agg()`** (abreviatura de **aggregate**) en **pandas** es una función versátil utilizada para **agregar** datos aplicando **funciones de agregación** a grupos de datos. Este método es especialmente útil cuando se trabaja con objetos resultantes de operaciones de agrupamiento (`groupby`) o directamente sobre un DataFrame para aplicar múltiples funciones de agregación de manera eficiente.

### **¿Para Qué Sirve `agg()`?**

- **Aplicar Múltiples Funciones de Agregación:** Permite aplicar varias funciones de agregación simultáneamente a diferentes columnas.
- **Flexibilidad en la Agregación:** Ofrece la posibilidad de especificar diferentes funciones para diferentes columnas dentro de un mismo DataFrame.
- **Resumir Datos de Manera Eficiente:** Optimiza el proceso de resumen de datos, reduciendo la necesidad de múltiples líneas de código para aplicar diferentes agregaciones.

In [40]:
df_movies = pd.read_csv('top_rated_9000_movies_on_TMDB.csv')
df_movies

,id,title,original_language,release_date,vote_average,vote_count,popularity,overview,genre_ids,Genres
0,278,The Shawshank Redemption,en,1994-09-23,8.706,26840,150.307,Imprisoned in the 1940s for the double murder ...,"[18, 80]","['Drama', 'Crime']"
1,238,The Godfather,en,1972-03-14,8.690,20373,122.973,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']"
2,240,The Godfather Part II,en,1974-12-20,8.575,12291,94.204,In the continuing saga of the Corleone crime f...,"[18, 80]","['Drama', 'Crime']"
3,424,Schindler's List,en,1993-12-15,8.565,15695,74.615,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","['Drama', 'History', 'War']"
4,389,12 Angry Men,en,1957-04-10,8.546,8522,54.678,The defense and the prosecution have rested an...,[18],['Drama']
...,...,...,...,...,...,...,...,...,...,...
9625,12142,Alone in the Dark,en,2005-01-28,3.251,599,11.337,Edward Carnby is a private investigator specia...,"[28, 14, 27]","['Action', 'Fantasy', 'Horror']"
9626,13805,Disaster Movie,en,2008-08-29,3.179,1015,19.006,"Over the course of one evening, an unsuspectin...",[35],['Comedy']
9627,11059,House of the Dead,en,2003-04-11,3.129,379,12.745,"Set on an island off the coast, a techno rave ...","[27, 28, 53]","['Horror', 'Action', 'Thriller']"
9628,14164,Dragonball Evolution,en,2009-03-12,2.896,2016,20.904,"On his 18th birthday, Goku receives a mystical...","[28, 12, 14, 878, 53]","['Action', 'Adventure', 'Fantasy', 'Science Fi..."
9629,40016,Birdemic: Shock and Terror,en,2010-02-27,2.200,331,6.548,A platoon of eagles and vultures attacks the r...,"[10749, 27, 53]","['Romance', 'Horror', 'Thriller']"

In [44]:
df_movies.groupby(['original_language']).size()

original_language
ar       2
bn       1
bs       1
cn      56
cs       3
da      29
de      91
el       3
en    7640
es     177
et       1
eu       1
fa      11
fi       8
fr     616
ga       1
gl       1
he       1
hi      29
hu       5
hy       1
id       5
is       2
it     344
ja     266
km       1
ko      83
la       1
lt       1
ml       1
nl       9
no      21
pl      16
pt      30
ro       1
ru      45
sh       1
sr       4
sv      36
te       3
th      11
tn       1
tr      10
uk       2
zh      58
dtype: int64

## 1. Agrupar por idioma original y calcular el promedio de votos

In [50]:
df_movies.groupby('original_language').agg({'vote_average': 'mean'})

                   vote_average
original_language
ar                     7.708000
bn                     7.975000
bs                     7.500000
cn                     7.028839
cs                     7.446000
da                     7.151034
de                     7.110429
el                     7.195000
en                     6.549126
es                     7.015785
et                     7.687000
eu                     6.360000
fa                     7.470727
fi                     6.957750
fr                     6.659198
ga                     7.529000
gl                     7.552000
he                     6.635000
hi                     7.365138
hu                     7.208600
hy                     6.300000
id                     6.915400
is                     6.840000
it                     6.784951
ja                     7.370368
km                     6.577000
ko                     7.346482
la                     7.110000
lt                     5.242000
ml                     7.100000
nl                     7.237889
no                     6.705333
pl                     6.798687
pt                     7.513433
ro                     7.536000
ru                     7.057511
sh                     7.700000
sr                     7.146500
sv                     7.249972
te                     7.580333
th                     6.915545
tn                     6.946000
tr                     7.743100
uk                     7.434000
zh                     7.119414

## Agrupar por género y calcular el máximo de popularidad

In [52]:
df_movies.groupby('Genres').agg({'popularity': 'max'})

                                                    popularity
Genres
['Action', 'Adventure', 'Animation', 'Comedy', ...      59.231
['Action', 'Adventure', 'Animation', 'Drama', '...      15.886
['Action', 'Adventure', 'Animation', 'Drama']           18.952
['Action', 'Adventure', 'Animation', 'Family', ...      74.589
['Action', 'Adventure', 'Animation', 'Family']          74.268
...                                                        ...
['Western', 'Horror', 'Drama']                          22.530
['Western', 'Horror', 'Thriller']                       10.725
['Western', 'Romance', 'Drama']                          9.421
['Western', 'Thriller']                                 16.905
['Western']                                             85.107

[2045 rows x 1 columns]

Agrupar por idioma y género y la media de 'vote_average' y el máximo de popularidad

In [54]:
df_movies.groupby(['original_language', 'Genres']).agg({
    'vote_average': 'mean',  # Promedio de votos
    'popularity': 'max'  # Popularidad máxima
})

                                                                      vote_average  \
original_language Genres
ar                ['Drama']                                                  7.708
bn                ['Drama']                                                  7.975
bs                ['Action', 'History', 'War']                               7.500
cn                ['Action', 'Adventure', 'Comedy', 'Crime', 'Dra...         6.445
                  ['Action', 'Adventure', 'Comedy', 'Romance']               6.530
...                                                                            ...
zh                ['Horror']                                                 6.830
                  ['Romance', 'Animation', 'Fantasy']                        7.682
                  ['Science Fiction', 'Action', 'Adventure', 'Thr...         5.900
                  ['Science Fiction', 'Action', 'Drama']                     6.620
                  ['Science Fiction']                                        7.231

                                                                      popularity
original_language Genres
ar                ['Drama']                                               12.536
bn                ['Drama']                                                8.358
bs                ['Action', 'History', 'War']                             9.170
cn                ['Action', 'Adventure', 'Comedy', 'Crime', 'Dra...      21.333
                  ['Action', 'Adventure', 'Comedy', 'Romance']            15.550
...                                                                          ...
zh                ['Horror']                                              37.826
                  ['Romance', 'Animation', 'Fantasy']                     24.353
                  ['Science Fiction', 'Action', 'Adventure', 'Thr...      15.257
                  ['Science Fiction', 'Action', 'Drama']                  27.749
                  ['Science Fiction']                                     61.144

[2830 rows x 2 columns]

# Ejercicios: Agrupación y Agregación en Pandas

### a) Agrupar por idioma original y calcular el promedio de popularidad
Agrupa las películas por el idioma original y calcula el promedio de la popularidad de cada idioma.

### b) Agrupar por género y obtener el número de películas por cada género
Agrupa las películas por el género y cuenta cuántas películas hay en cada género.

### c) Agrupar por idioma y año de estreno, y obtener el promedio de votos
Agrega una columna llamada "release_year" que extraiga el año de la columna "release_date". Luego, agrupa las películas por "original_language" y "release_year" y calcula el promedio de votos de cada grupo.

### d) Agrupar por género y obtener el máximo de votos
Agrupa las películas por el género y obtén la película con la mayor cantidad de votos en cada grupo.

In [6]:
#Inicio 
import pandas as pd
movies = pd.read_csv('../data/movies_tukey.csv')
movies.head()

,id,title,original_language,release_date,vote_average,vote_count,popularity,overview,genre_ids,Genres
0,278,The Shawshank Redemption,en,1994-09-23,8.706,26840,150.307,Imprisoned in the 1940s for the double murder ...,"[18, 80]","['Drama', 'Crime']"
1,238,The Godfather,en,1972-03-14,8.690,20373,122.973,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']"
2,240,The Godfather Part II,en,1974-12-20,8.575,12291,94.204,In the continuing saga of the Corleone crime f...,"[18, 80]","['Drama', 'Crime']"
3,424,Schindler's List,en,1993-12-15,8.565,15695,74.615,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","['Drama', 'History', 'War']"
4,389,12 Angry Men,en,1957-04-10,8.546,8522,54.678,The defense and the prosecution have rested an...,[18],['Drama']

In [7]:
# A)


group_movies = movies.groupby('original_language').agg({'vote_average': 'mean'})
group_movies.head()

                   vote_average
original_language
ar                     7.708000
bn                     7.975000
bs                     7.500000
cn                     7.028839
cs                     7.446000

In [11]:
# B)
genre_movies = movies.groupby('Genres').agg({'Genres': 'count'})
genre_movies

                                                    Genres
Genres
['Action', 'Adventure', 'Animation', 'Comedy', ...       2
['Action', 'Adventure', 'Animation', 'Drama', '...       1
['Action', 'Adventure', 'Animation', 'Drama']            2
['Action', 'Adventure', 'Animation', 'Family', ...       1
['Action', 'Adventure', 'Animation', 'Family']           3
...                                                    ...
['Western', 'Horror', 'Drama']                           1
['Western', 'Horror', 'Thriller']                        1
['Western', 'Romance', 'Drama']                          1
['Western', 'Thriller']                                  1
['Western']                                             29

[2045 rows x 1 columns]

In [17]:
# c)
movies['release_year'] = pd.to_datetime(movies['release_date']).dt.year
groups_movies = movies.groupby(['original_language', 'release_year']).agg({'vote_average': 'mean'})
groups_movies.head()

                                vote_average
original_language release_year
ar                2012                 7.216
                  2018                 8.200
bn                1955                 7.975
bs                2001                 7.500
cn                1972                 7.377

In [18]:
# D)

genres_movies = movies.groupby('Genres').agg({'popularity': 'max'})
genres_movies.head()

                                                    popularity
Genres
['Action', 'Adventure', 'Animation', 'Comedy', ...      59.231
['Action', 'Adventure', 'Animation', 'Drama', '...      15.886
['Action', 'Adventure', 'Animation', 'Drama']           18.952
['Action', 'Adventure', 'Animation', 'Family', ...      74.589
['Action', 'Adventure', 'Animation', 'Family']          74.268